<p class="text-center">Add New Bus Details</p>
<div class="container">
<table class="table">
    <tr>
        <td>Enter Bus Number</td>
        <td>
            <input type="text" name="bsno" [(ngModel)]=addbus.busNumber  required #bsno="ngModel"/>
            <div class="error" *ngIf="bsno.touched==true && bsno.invalid==true">Bus Number is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Source City</td>
        <td>
            <input type="text" name="s" [(ngModel)]=addbus.source required #s="ngModel"/>
            <div class="error" *ngIf="s.touched==true && s.invalid==true">Name is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Destination City</td>
        <td>
            <input type="text" name="des" [(ngModel)]=addbus.destination required #des="ngModel"/>
            <div class="error" *ngIf="des.touched==true && des.invalid==true">Name is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Departure Date</td>
        <td>
            <input type="date" name="ddate" [(ngModel)]=addbus.departureDate #ddate="ngModel"/>
            <div class="error" *ngIf="ddate.touched==true && ddate.invalid==true">Date is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Type of Travel</td>
        <td>
            <input type="text" name="tt" [(ngModel)]=addbus.travelType required #tt="ngModel"/>
            <div class="error" *ngIf="tt.touched==true && tt.invalid==true">Name is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Return/Destination Date</td>
        <td>
            <input type="date" name="rdate" [(ngModel)]=addbus.returnDate #rdate="ngModel"/>
            <div class="error" *ngIf="rdate.touched==true && rdate.invalid==true">Date is Required</div>
        </td>
    </tr>
    <tr>
        <td>Enter Type of Travel</td>
        <td>
            <input type="text" name="ss" [(ngModel)]=addbus.seatAvailable required #ss="ngModel"/>
            <div class="error" *ngIf="ss.touched==true && ss.invalid==true">Name is Required</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" class="btn btn-primary" value="Add" (click)="addBusDetails()" 
            [disabled]="!bsno.valid || !s.valid || !des.valid || !rdate.valid || !ss.valid || !tt.valid || !ddate.valid" />
            <!-- <div class="message" *ngIf="btn.touched==true">Data is Added</div> -->
        </td>
    </tr>
</table>

</div>