<p class="text-center">Login To Book you Bus Ticket</p>

<!-- <div class="container">
<form #loginform="ngForm" (ngSubmit)="login(loginform.value)">
    <legend  style="color: darkgoldenrod;" class="w-auto text-center">LOGIN DETAILS:</legend>
        
        <div class="col-xs-4">
        <label for="u_name" style="font-size: 20px;">UserName&nbsp;</label><br>
        <input class="form-control" type="text" id="u_name" name="user_name" minlength="4" maxlength="20" [(ngModel)]="username" #user_name="ngModel" required>
        <div class="error" *ngIf="user_name.errors?.['minlength']">Username should be atleast 4 characters.</div>
        <div class="error"  *ngIf="user_name.touched && user_name.invalid">Username is required.</div>
        <br><br>

        </div>

        <div class="col-xs-4">
        <label for="u_pswd" style="font-size: 20px;">Password&nbsp;</label><br>
        <input class="form-control" type="password" id="u_pswd" name="pass_word" minlength="4" maxlength="20" [(ngModel)]="password" #pass_word="ngModel" required>
        <div class="error" *ngIf="pass_word.errors?.['minlength']">Password should be atleast 4 characters.</div>
        <div class="error"  *ngIf="pass_word.touched && pass_word.invalid">Password is required.</div>
        <br><br>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="loginform.invalid">LOGIN</button> 

    <div class="error" *ngIf="invalid">{{invalid}}</div>

</form>
<br>
<div><a href="javascript:void(0);" (click)="register()">Don't have an account? click to Register</a></div>
</div> -->

<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >

                <div class="panel-heading">
                    <div class="panel-title">Login In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                    <form id="loginform" #loginform="ngForm" (ngSubmit)="login(loginform.value)" class="form-horizontal" role="form">
                                
                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="user_name" value="" [(ngModel)]="username" #user_name="ngModel" required placeholder="userid">                                        
                                </div>
                            
                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="login-password" type="password" class="form-control" name="pass_word" [(ngModel)]="password" #pass_word="ngModel" required placeholder="password">
                                </div>
                                
                                <div class="error text-danger" *ngIf="invalid">{{invalid}}</div> 
                            
                        <div class="input-group">
                                  <div class="checkbox">
                                    <label>
                                      <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                    </label>
                                  </div>
                                </div>


                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                  <button id="btn-login" type="submit" class="btn btn-success">Login  </button>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        Don't have an account! 
                                    <a href="javascript:void(0);" (click)="register()">
                                        Sign Up Here
                                    </a>
                                    </div>
                                </div>
                            </div>    
                        </form>     



                    </div>                     
                </div>  
    </div>